 
/* Grid - General */
.grid                           { border-bottom:0; padding-bottom:.5em; }
.grid table                     { width:100%; border:1px solid #cbd3d4; border-bottom:none; }
.grid table.border              { border:1px solid #cbd3d4; }
.grid tbody                     { background:#fff; }    /* Zebra odd-row */
.grid tr.even, .grid tr.even tr { background:#f6f6f6; } /* Zebra even-row */
.grid tr.on-mouse               { background:#fcf5dd; cursor:pointer; } /* Rows mouse-over */
.grid tr.invalid                { background-color:#f5d6c7; }
.grid th, .grid td              { padding:2px 4px 2px 4px; }
.grid th                        { white-space:nowrap; }
.grid td.editable input.input-text { width:50px !important; margin-left:4px !important; }
.grid td input.input-text       { width:86%; }
.grid td input.input-text-export-filter { width:272px; }
.grid td input.input-text-range { width:104px; }
.grid td input.input-text-range-date { width:87px; }
.grid td input.input-inactive   { background:#eee; }
.grid table td                  { border-width:0 1px 1px 0; border-color:#dadfe0; border-style:solid; }
.grid table.border td           { background:#fff !important; }
.grid table td.first,
.grid table td.last             { border-right:0; }
.grid table td.product          { text-align:right; }
.grid table td.empty-text       { padding:15px; }
.grid table td .action-select   { width:100%; }
.grid .separator                { padding:0 4px; color:#b9b9b9; }

.grid tbody.odd tr              { background:#fff !important; }
.grid tbody.even tr             { background:#f6f6f6 !important; }
.grid tbody.odd tr td,
.grid tbody.even tr td          { border-bottom:0; }
.grid tbody.odd tr.border td,
.grid tbody.even tr.border td   { border-bottom:1px solid #dadfe0; }



/* Grid - Headings */
.grid tr.headings { background:url(images/sort_row_bg.gif) 0 50% repeat-x; }
.grid tr.headings th { border-width:1px; border-color:#f9f9f9 #d1cfcf #f9f9f9 #f9f9f9; border-style:solid; padding-top:1px; padding-bottom:0; font-size:.9em; }
.grid tr.headings th.last { border-right:0; }
.grid tr.headings th.no-link { /* Grid th with no sorting functionality */ padding-top:2px; padding-bottom:1px; color:#67767e; }
.grid tr.headings th span.nobr { display:block; /* FF3 fix */ }
.grid tr.headings th a { display:block; padding:2px 4px 1px 0; color:#2d444f; text-decoration:none; }
.grid tr.headings th a:hover { color:#d85909; text-decoration:none; }
.grid tr.headings th a.sort-arrow-desc,
.grid tr.headings th a.sort-arrow-asc { background:url(images/sort_on_bg.gif) 0 0 no-repeat; border-bottom:1px solid #fff; border-right:1px solid #fff; padding-bottom:2px; }
.grid tr.headings th span.sort-title { display:block; padding:3px 12px 4px 0; line-height:1; }
.grid tr.headings th a.sort-arrow-desc span.sort-title,
.grid tr.headings th a.sort-arrow-asc span.sort-title { background-position:right 50%; background-repeat:no-repeat; padding:3px 12px 2px 8px; }
.grid tr.headings th a.sort-arrow-desc span.sort-title { background-image:url(images/grid_sort_desc.gif); }
.grid tr.headings th a.sort-arrow-asc span.sort-title { background-image:url(images/grid_sort_asc.gif); }

