<?php
/**
 * @see \Kingletas_Customer_Block_Product
 */
$products = $this->getProducts();
$headers = array('Thumbnail', 'SKU', 'Name', 'Quantity', 'Price', 'Link');
?>
<div class="grid">
    <table width="100%" cellspacing="0" cellpadding="4" class="data">
        <colgroup>
            <col class="a-center" width="100">
            <col class="a-center" width="100">
            <col class="a-center" width="100">
            <col class="a-center" width="100">
            <col class="a-center" width="100">
            <col class="a-center" width="100">
        </colgroup>
        <thead>
            <tr class="headings">
                <?php foreach ($headers as $header): ?>
                    <th  class="header"><?php echo $header ?></th>
                <?php endforeach; ?>
            </tr>
        </thead>
        <tbody>
            <?php $counter = 1; ?>
            <?php foreach ($products as $product): ?>
                <tr class="<?php echo ++$counter % 2 ? 'even' : 'odd' ?>">
                    <td >           
                        <a href="<?php echo $product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($product, 'small_image'), null, true) ?>" class="product-image thumbnail">
                            <?php $_imgSize = 150; ?>
                            <img id="product-collection-image-<?php echo $product->getId(); ?>"
                                 src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->keepFrame(false)->resize($_imgSize); ?>"
                                 alt="<?php echo $this->stripTags($this->getImageLabel($product, 'small_image'), null, true) ?>" />
                        </a>
                    </td>
                    <td ><?php echo $product->getSku() ?></td>
                    <td ><?php echo $product->getName() ?></td>
                    <td ><?php echo $product->getQty() * 1 ?></td>
                    <td ><?php echo Mage::app()->getStore()->formatPrice($product->getFinalPrice()) ?></td>
                    <td > 
                        <a target="_blank" href="<?php echo $product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($product, 'small_image'), null, true) ?>" class="product-url">
                            <span>See Product</span>
                        </a>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>