<?php
/**
 * @see \Kingletas_Customer_Block_Product
 */
?>

<div>
    <div id="customer-product-form">
        <form  id="customer-product-form-id" name="customer-product-form" class="kingletas-customer" method="post">
            <div class="fields">
                <div class="field">
                    <label for="range:low" class="required"><em>*</em><?php echo $this->__('Low Range:') ?></label>
                    <div class="input-box">
                        <input type="text" name="range[low]" id="range:low" value="Enter your low end range" title="" class="validate-range clear-on-click input-text validate-number required-entry" />
                    </div>
                </div>
                <div class="field">
                    <label for="range:high" class="required"><em>*</em><?php echo $this->__('High Range:') ?></label>
                    <div class="input-box">
                        <input type="text" name="range[high]" id="range:high" value="Enter your high end range" title="" class="validate-range clear-on-click input-text validate-number required-entry" />
                    </div>
                </div>

            </div>

            <div class="input-box">
                <label for="range:sort" class="required"><em>*</em><?php echo $this->__('Sort:') ?></label>
                <select id="range:sort" name="range[sort]" title="Sort Options" class="validate-select required-entry validation-passed" style="" defaultvalue="0">
                    <option value="<?php echo Zend_Db_Select::SQL_DESC ?>"><?php echo Zend_Db_Select::SQL_DESC ?></option>
                    <option value="<?php echo Zend_Db_Select::SQL_ASC ?>"><?php echo Zend_Db_Select::SQL_ASC ?></option>
                </select>

            </div>

            <input type="submit" id="range:search" value="Search" name="Search" class="button validation-passed" />

        </form>
    </div>
    <div id="customer-product-container">
        <?php echo $this->getChildHtml('grid') ?>
    </div>
</div>